@import url("clear-css.css");
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
   --golden-text-color: #E3B873;
   --black: #131313;
}

.header {
    height: 83px;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-name-title, .header-menu-item, .header-menu-phone {
    font-family: "Nunito Sans", sans-serif;
    text-transform: uppercase;
    font-style: normal;
    line-height: 15px;
    font-weight: 400;
    font-size: 11px;
    cursor: pointer;
}

.header-name-title {
    color: var(--golden-text-color);
}

.header-menu {
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
    width: 50%;
}

.header-menu-item, .header-menu-phone__link, .header-menu-phone__call {
    color: white;
    transition: color 200ms;
}

.header-menu-phone__link:hover,
.header-menu-item:hover  {
    color: var(--golden-text-color);
}

.header-menu-phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 21%;
}

.header-menu-phone__link,
.header-menu-phone__call {
    white-space: nowrap;
}

.header-menu-phone__call {
    background-color: var(--golden-text-color);
    justify-content: center;
    text-decoration: none;
    align-items: center;
    border-radius: 2px;
    display: flex;
    width: 161px;
    height: 37px;
}

.menu-first-page {
    background-image: url("./image/menu_background.jpg");
    height: 707px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.image-invisible {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
}

.first-page-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    max-width: 520px;
    row-gap: 20px;
    z-index: 1;
    margin-left: 10%;
}

.title {
    color: white;
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    float: right;
}

.title-golden {
    color: var(--golden-text-color)
}

.first-about {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    max-width: 504px;
}

.first-button {
    display: flex;
    column-gap: 20px;
}

.button-calculate, .button-submit {
    width: 207px;
    height: 51px;
    border-radius: 2px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    outline: none;
    color: white;
    cursor: pointer;
}

.button-calculate {
    background-color: var(--golden-text-color);
    border: none;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.button-submit {
    border: 1px white solid;
    background: none;
}

.review-projects {
    height: 1000px;
    background-color: var(--black);
    padding: 107px 10% 0 10%;
    display: flex;
    justify-content: center;
    position: relative;

}

.container-review {
    display: flex;
    column-gap: 50px;
    height: min-content;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-about__title {
    margin-top: 65px;
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: var(--golden-text-color);
}

.text-about__description {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 34px;

}

.text__list {
    margin-top: 42px;
}

.text__list ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
    row-gap: 35px;
}

.text__list h1 {
    color: var(--golden-text-color);
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}

.text__list p {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    margin-top: 9px;
}

.text-arrow {
    display: flex;
    column-gap: 15px;   
}

.arrow-left {
    margin-right: 15px;
}

.arrow-right {
    margin-left: 15px;
}

.navigation-project {
    display: flex;
    column-gap: 60px;
}

.navigation-project h1 {
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255,255,255, 0.3)
}

.navigation-project h1:nth-child(1) {
    color: var(--golden-text-color);
    position: relative;

}

.navigation-project h1:nth-child(1)::before {
    content: " ";
    height: 1px;
    width: 100%;
    background-color: var(--golden-text-color);
    position: absolute;
    bottom: calc(0% - 7px);
} 



.image-content img {
    margin-top: 53px;
}

.description-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container-description {
    position: absolute;
    bottom: -450px;
}

.description-title__text {
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container-camera-image {
    display: flex;
    align-items: center;
    margin: 12px 0 32px 0;
}

.container-camera-image span {
    height: 1px;
    width: 32px;
    background-color: var(--golden-text-color);
}

.description-title__image {
    margin: 0 8px;
}

.container-video{
    position: relative;
    cursor: pointer;
}

.video-transparent {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}

.image-play__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-bottom__line {
    width: 55px;
    height: 2px;
    margin: 63px 0 35px 0;
    background-color: var(--golden-text-color);
}

.video-description {
    max-width: 680px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}

.container-request {
    margin-top: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.request-form {
    display: flex;
    column-gap: 50px;
}

.text-name h6, .text-phone h6  {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.text-name input,
.text-phone input {
    outline: none;
    border-width: 0 0 1px 0;
    width: 230px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    height: 32px;
    color: #363636;
}

.request__button {
    background-color: var(--golden-text-color);
    width: 200px;
    height: 50px;
    outline: none;
    border: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 16px;
}

.request__agree {
    margin-top: 40px;
    display: flex;
    column-gap: 8px;
}

.request__agree input {
    display: none;
}

.request__agree label::before {
    content: " ";
    cursor: pointer;
    color: white;
    display: inline-flex;
    position: relative;
    width: 18px;
    height: 18px;
    background: white;
    background-color: var(--golden-text-color);
    justify-content: center;
    font-size: 14px;
}

.request__agree input:checked + label:before {
    background-color: var(--golden-text-color);
    border: none;
    content:"\2714";
    border-radius: 1px;
}

.request__agree p {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #181818;
}

.container-repair {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.repair__title {
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin-top: 75px;
}

.container-tools__image {
    margin: 13px 0 35px 0;
}

.container-tools__image {
    display: flex;
    column-gap: 13px;
    align-items: center;
}

.container-tools__image span {
    width: 32px;
    height: 1px;
    background-color: var(--golden-text-color);
}

.container-services-cards {
    display: flex;
    justify-content: center;
    width: 100%;
}

.services-card {
    display: flex;
    flex-direction: column;
    margin: 0 1%;
}

.card-text {
    width: 330px;
    background-color: white;
    position: relative;
    top: -126px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.card-text h1 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin: 25px 0 13px 35px;
}

.card-text ul {
    margin-left: 51px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.card-text button {
    width: 228px;
    height: 54px;
    color: white;
    cursor: pointer;
    background-color: var(--golden-text-color);
    outline: none;
    border: none;
    position: relative;
    bottom: -27px;
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}

.container-request-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.request-build-steps  {
    height: 645px;
    background-image: url("image/transparent-building.png");
    background-repeat: no-repeat;
    width: 706px;
}

.build-steps {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    height: 645px;
    margin-top: 50px;
    justify-content: space-evenly;
}

.build-step {
    display: flex;
    align-items: center;
}

.build-step div {
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: var(--golden-text-color);
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.build-step p {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    margin-left: 10px;
    width: 320px;
}

.request-container {
    margin-top: 240px;
    margin-right: 5%;
}

.request-container-form  {
    background-color: #131313;
    width: 460px;
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.request-form__title {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    width: 250px;
}

.request-form__entry,
.request-form__agree,
.request-form__call {
    width: 380px;
    
}

.request-form__entry h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px; 
    color: rgba(255, 255, 255, 0.5);
}

.request-form__entry input {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: rgba(255, 255, 255, 0.15);
    width: 100%;
    background: none;
    height: 32px;
    outline: none;
} 

.request-form__entry input::placeholder {
    color: white;
} 

.request-form__agree input {
    display: none;
}

.request-form__agree label::before {
    content: " ";
    cursor: pointer;
    color: white;
    display: inline-flex;
    position: relative;
    width: 18px;
    height: 18px;
    background: white;
    background-color: var(--golden-text-color);
    justify-content: center;
    font-size: 17px;
}

.request-form__agree input:checked + label:before {
    background-color: var(--golden-text-color);
    border: none;
    content:"\2714";
    border-radius: 1px;
}

.request-form__agree {
    display: flex;
}

.request-form__agree p {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    color: #FFFFFF;
    margin-left: 8px;
}

.request-form__call {
    display: flex;
    justify-content: flex-end;
}

.request-form__call button {
    width: 213px;
    height: 51px;
    background-color: var(--golden-text-color);
    outline: none;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container-moneybox {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.container-moneybox img {
    position: relative;
    top: 10px;
    margin-left: 10px;
}

.container-moneybox p {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: var(--golden-text-color);
    width: 250px;
}

.container-examples {
    margin-top: 240px;
    background-image: url("image/background-examples.jpg");
    width: 100%;
    height: 864px;
}

.examples-transparent {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.examples__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-left: 100px;
}

.examples__text h1 {
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: var(--golden-text-color);
    width: 300px;
    margin-bottom: 40px;
}

.examples__text ul {
    list-style: none;

}

.examples__text li:first-child {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: var(--golden-text-color);
    text-decoration: underline;
}

.examples__text li {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    margin: 10px 0;
}

.container-examples-image {
    display: flex;
    column-gap: 50px;
    margin-right: 100px;
}

.container-examples-image div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 50px;
}

.container-examples-image div:last-child {
    margin-bottom: 150px;
}

.container-client-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.reviews__title {
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #181818;   
}

.client-image-contract {
    display: flex;
    align-items: center;
    margin: 13px 0 24px 0;
}


.client-image-contract span {
    height: 1px;
    width: 32px;
    background-color: var(--golden-text-color);
}

.client-image-contract img {
    margin: 0 8px;
}

.client-description {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;   
    width: 400px;  
}

.client-card-container {
    display: flex;
    justify-content: center;   
    column-gap: 54px;
    margin-top: 40px;
}

.client-card {
    width: 376px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.client-card p,
.client-card div {
    margin-left: 20px;
}

.client-card div {
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.client-card div h1 {
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px; 
    color: #181818;
    width: 200px;
    margin-left: 23px;

}

.client-card p {
    margin-top: 22px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    margin-right: 32px;
}